.resizable-container {
    resize: both;
    overflow: hidden;
    padding: 0;
    border: 1px solid #F2F2F2;
}

.modeling-element {
    stroke: blue;
    stroke-width: 2;
}

.modeling-element-use-case {
    fill:yellow;
    

}

.diagram-text {
    fill: black;
}