<!-- TODO: UserStoryJumbotron - clever copy of entity-jumbotron -->
<!-- TODO: UserStory CRUD -->

<!-- TODO: UserStory Actor Auto Completeon -->
<!-- TODO: UserStory Actor Generation -->
<!-- TODO: UserStory Actor Navigation -->

<!-- TODO: UserStory Connections box -->
<!-- TODO: UserStory Connections CRUD -->
<!-- TODO: UserStory Connections Navigation -->

<!-- TODO: UserStory Diagram Generation -->
<!-- TODO: UserStory Connections For Diagram -->

<div>
    As a SuperUser <br />
    I want to be Super <br />
    Because just because <br />
</div>
