@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding: 0;">
    <div>
        <main-menu />
    </div>

    <!--Angular UI router will inject alpages here-->
    <div ui-view>
        
    </div>
</div>






