<div class="container-fluid" style="padding: 0;">
    <div>
        <main-menu />
    </div>


    <div>
        @*<modeling-area />*@
    </div>

    <div>
        @*<tool-box />*@
    </div>

    <div>
        @*<content />*@
    </div>

    <div>
        @*<projetc-tree />*@
    </div>
</div>

