@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding: 0;">
    <div>
        <main-menu />
    </div>

    <div>
        @*<modeling-area size-x="400" size-y="300" start-x="20" start-y="20" />*@
    </div>

    <div>
        @*<tool-box />*@
    </div>

    <div>
        @*<content />*@
    </div>

    <div>
        @*<projetc-tree />*@
    </div>
</div>






