<!-- OK: UserStoryJumbotron - clever copy of entity-jumbotron -->
<!-- OK: UserStory CRUD -->
<!-- TODO: UserStory Actor Auto Completeon -->
<!-- OK: UserStory Actor Generation -->
<!-- TODO: UserStory Actor Navigation -->
<!-- TODO: UserStory Connections box -->
<!-- TODO: UserStory Connections CRUD -->
<!-- TODO: UserStory Connections Navigation -->
<!-- TODO: UserStory Diagram Generation -->
<!-- TODO: UserStory Connections For Diagram -->

<div ng-controller="userStoriesController">

    <div class="container-fluid">
        <div class="jumbotron">
            <h2>{{title}}</h2>
            <button ng-hide="inCreation" ng-click="create()" class="btn btn-success btn-lg">Create New</button>
        </div>
    </div>

    <div class="container-fluid">
        <div ng-repeat="userstory in userStories">
            <userstory-jumbotron entity="userstory"
                                 actors="actors"
                                 actor-names="actorNames"
                                 modify="modify(entity)"
                                 delete="delete(entity)">
            </userstory-jumbotron>
        </div>

        <div ng-show="inCreation">
            <userstory-jumbotron entity="userstoryToCreate"
                                 actors="actors"
                                 actor-names="actorNames"
                                 creation-mode="inCreation"
                                 create="creationAccepted(entity)"
                                 cancel="creationCancelled(entity)">
            </userstory-jumbotron>
        </div>

    </div>
    <div class="container-fluid text-center jumbotron"
         ng-show="userStories.length>2 && !inCreation">

        <button ng-click="create()"
                class="btn btn-success btn-lg center-block">
            Create New
        </button>

    </div>

</div>


<!--<div>
    As a SuperUser <br />
    I want to be Super <br />
    Because just because <br />
</div>-->
