<div ng-controller="testCtrl">
    <div class="row">

        <!--Modelling Toolbar-->
        <div id="modeling-toolbar" class="col-md-2">
            mod toolbar
        </div>

        <!--Modelling Area-->
        <div class="col-md-8" style="">

            <div id="modeling-area">
                <svg xmlns="http://www.w3.org/2000/svg" width="1500" height="1000">

                    <association element-from="usecaseview" element-to="alma"> </association>

                    <use-case diagram-element="alma"> </use-case>

                    <use-case diagram-element="usecaseview"> </use-case>



                </svg>

            </div>

        </div>

        <!--Project Tree-->
        <div class="project-tree col-md-2">
            project tree

        </div>

    </div>
</div>