<div ng-controller="modellingController">
    <div class="row">

        <!-- Side menu -->
        <div class="col-md-3">

            <div class="form-group form-inline jumbotron">

                <!--Modelling Toolbar-->
                <h3>Modelling toolbar</h3>
                <hr />


                <!-- diagram elements -->
                <!--Actor-->
                <div class="row">

                    <select class="form-control"
                            ng-model="selectedActor"
                            ng-options="actor.Name for actor in actors"
                            ng-disabled="actors.length == 0">
                        <option value="" ng-select="selected">-- choose one to use --</option>

                    </select>

                    <button class="btn"
                            ng-click="useActor()"
                            ng-disabled="actors.length == 0">
                        Use
                    </button>

                    <button class="btn" ng-click="createActor()">New Actor</button>

                </div>

                <!-- UseCase -->
                <!-- TODO: rewrite for UseCases -->
                <div class="row margin-top-1">
                    <select class="form-control"
                            ng-model="selectedUseCase"
                            ng-options="usecase.Name for usecase in usecases"
                            ng-disabled="usecases.length == 0">
                        <option value="" ng-select="selected">-- choose one to use --</option>

                    </select>

                    <button class="btn"
                            ng-click="useUseCase()"
                            ng-disabled="usecases.length == 0">
                        Use
                    </button>

                    <button class="btn" ng-click="createUseCase()">New UseCase</button>

                </div>

                <hr />

                <!-- connections elements -->
                <button ng-click="createAssociation()" class="btn btn-block btn-info">
                    Association
                </button>

                <div ng-show="assocCreation" class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Click to the first diagram element in the connection than the second one</h3>
                    </div>

                </div>

                <hr />

            </div>

            <!--selected element-->
            <div ng-show="selectedView" class="row margin-top-1 jumbotron">
                <div>

                    <button ng-click="clearSelected()" class="btn" style="margin: 5px">Clear Selection</button>
                    <br />

                    <!--<button class="btn" style="margin: 5px">Delete Selected View</button>

                    <button class="btn" style="margin: 5px">Delete Selected Element</button>-->

                </div>

                <h3>Selected View</h3>
                <p>
                    Type: {{selectedView.TypeName}}
                </p>

                <h3>Element in View</h3>
                <p>
                    Type: {{selectedView.Element.TypeName}}
                </p>
                <p>
                    Name: {{selectedView.Element.Name}}
                </p>
                <p>
                    Description: {{selectedView.Element.Description}}
                </p>

            </div>

        </div>

        <!--Modelling Area-->
        <div class="col-md-8" style="">

            <div id="modeling-area">

                <svg xmlns="http://www.w3.org/2000/svg" width="1500" height="1000">


                    <g ng-repeat="part in connectionParts" width="100%" height="100%">
                        <association diagram-element="part"> </association>
                    </g>


                    <!--<association ng-repeat="part in connectionParts" diagram-element="part"> </association>-->


                    <g ng-repeat="part in usecaseParts">
                        <use-case diagram-element="part"> </use-case>
                    </g>

                    <g ng-repeat="part in actorParts">
                        <actor diagram-element="part"> </actor>
                    </g>


                </svg>

            </div>

        </div>

    </div>
</div>
