<div ng-controller="projectsController">

    <div class="container-fluid">
        <div class="jumbotron">
            <h2>{{title}}</h2>
            <button ng-click="create()" class="btn btn-success btn-lg">Create New</button>
        </div>
    </div>

    <div ng-repeat="project in projects">
        <entity-jumbotron entity="project"
                          is-active="projectsService.isActive(entity)"
                          open="projectsService.open(entity)"
                          close="projectsService.close(entity)"
                          modify="modify(entity)"
                          delete="projectsService.delete(entity)">
        </entity-jumbotron>
    </div>

</div>
