    <nav class="navbar navbar-inverse navbar-static-top container-fluid" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
             
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" ui-sref="projects">Software Requirement Tool</a>
            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="MainMenu">

            <!--Menu Links-->

            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="projects">
                        Projects
                    </a>
                </li>

                <li ui-sref-active="active" ng-show="stateMachine.isThereActiveProject">
                    <a ui-sref="requirements">
                        Requirements
                    </a>
                </li>

                <li ui-sref-active="active" ng-show="stateMachine.isThereActiveProject">
                    <a ui-sref="diagrams">
                        Diagrams
                    </a>
                </li>

                <li ui-sref-active="active" ng-show="stateMachine.isThereActiveDiagram">
                    <a ui-sref="modelling">
                        Modelling
                    </a>
                </li>
            </ul>


            <!--User Profile-->
            <!--data-bind="visible: authenticated()"-->
            <p class="navbar-text navbar-right">
                Signed in as
                <!--data-bind="text: userName"-->
                <span>Business Analyst</span>
            </p>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
